/*
 * Red Pitaya board DTS
 *
 *  Copyright (C) 2011 - 2015 Xilinx
 *
 * SPDX-License-Identifier:	GPL-2.0+
 *
 * Based on the pattern in https://github.com/Xilinx/u-boot-xlnx/tree/master/arch/arm/dts and
 *  https://github.com/Xilinx/linux-xlnx/tree/master/arch/arm/boot/dts modified based on the
 *  devicetree information in https://github.com/RedPitaya/RedPitaya/tree/master/fpga/dts
 */
/dts-v1/;
#include "zynq-7000.dtsi"

/ {
	model = "Red Pitaya Board";
	compatible = "xlnx,zynq-red-pitaya", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart0;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x1E000000>;
	};

	chosen {
		bootargs = "earlyprintk";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x1000000>;
			alignment = <0x2000>;
			linux,cma-default;
		};
		rprx_reserverd: labuf@a000000 {
			/*compatible = "redpitaya,rprx-memory";*/
			reg = <0xa000000 0x2000000>;
		};
	};

	led-system {
		compatible = "gpio-leds";
		led-8-yellow {
			label = "led8";
			gpios = <&gpio0 0 0>;
			default-state = "off";
			linux,default-trigger = "mmc0";
		};
		led-9-red {
			label = "led9";
			gpios = <&gpio0 7 0>;
			default-state = "off";
			linux,default-trigger = "heartbeat";
		};
	};

	led-user {
		compatible = "gpio-leds";
		led-0-yellow {
			label = "led0";
			gpios = <&gpio0 54 0>;
			default-state = "off";
		};
		led-1-yellow {
			label = "led1";
			gpios = <&gpio0 55 0>;
			default-state = "off";
		};
		led-2-yellow {
			label = "led2";
			gpios = <&gpio0 56 0>;
			default-state = "off";
		};
		led-3-yellow {
			label = "led3";
			gpios = <&gpio0 57 0>;
			default-state = "off";
		};
		led-4-yellow {
			label = "led4";
			gpios = <&gpio0 58 0>;
			default-state = "off";
		};
		led-5-yellow {
			label = "led5";
			gpios = <&gpio0 59 0>;
			default-state = "off";
		};
		led-6-yellow {
			label = "led6";
			gpios = <&gpio0 60 0>;
			default-state = "off";
		};
		led-7-yellow {
			label = "led7";
			gpios = <&gpio0 61 0>;
			default-state = "off";
		};
	};
};

/*
 * PL clock configuration
 */

&clkc {
	fclk-enable = <0xf>;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@1 {
		reg = <1>;
	};
};

&sdhci0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&uart0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb0 {
	usb-phy = <&usb_phy0>;
};

/*
 * list devices on I2C bus
 */

&i2c0 {
	eeprom@50 {
		compatible = "24c64";
		reg = <0x50>;
		pagesize = <32>;
	};

	eeprom@51 {
		compatible = "24c64";
		reg = <0x51>;
		pagesize = <32>;
	};
};

/*
 * list devices on SPI bus
*/

&spi1 {
	spidev@0 {
		compatible = "spidev";
		reg = <0>; //chipselect 0
		spi-max-frequency = <50000000>;
	};
};
